<%= form_for(@home) do |f| %>
  <% if @home.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@home.errors.count, "error") %> prohibited this home from being saved:</h2>

      <ul>
      <% @home.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :content, :placeholder => "Write Down Here :D", :id => "write-content" %>
  </div>
  <div class="field">
    <button type="button" class="btn btn-new popover-event" data-toggle="popover" data-placement="right" data-trigger="focus">
      Set Tag🚦
    </button>
    <%= f.hidden_field :tag %>
    <!-- <%= f.text_field :tag %> -->
  </div>
  <div class="field hidden">
    <%= f.label :writeDate %><br>
    <%= f.datetime_select :writeDate %>
  </div>
  <div class="actions">
    <%= f.submit "Let's Go 😎", :class => "btn btn-new-submit" %>
  </div>
<% end %>
