<header id="top" class="header">
    <div class="text-vertical-center">
      <h2 id="new-title">See What You :D:D <%= @targetDate.strftime("%Y-%m-%d")  %></h2>
      <% if @isEmpty %>
      <% @homes.each do |home| %>
        <div class="card" style="width: 30rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="circle tag-label" style="background-color:<%= home.tagColor %>"></div>
              🖋 <%= home.content %> <span style="float:right;margin-top: 1.5px;"><%= home.writeDate.strftime("%H:%M") %></span>
            </li>
          </ul>
        </div>
      <% end %>
      <% else %>
      <div class="card" style="width: 30rem; margin-bottom: 30px">
            You Didn't write anything :(
      </div>
      <% end %>
      <a href="/list/search">See Another Day</a>
      <br>
      <br>
      Or
      <br>
      <br>
      <%= link_to 'Write Something 😎', new_home_path, :class => "btn btn-home btn-lg" %>
    </div>
</header>
